# Python Project 2:

US Cars'dataset

US Cars'data was scraped from AUCTION EXPORT.com. This dataset included Information about 28 brands of clean and used vehicles for sale in US. Twelve features were assembled for each car in the dataset.

This dataset includes 12 features: Price, Year, Brand, Model, Color, State/City, Mileage, Vin, Title Status, Lot, Condition

In [13]:
import pandas as pd

In [41]:
cars = pd.read_csv(r'/Users/tranngocmai/Documents/DATA SCIENCE/python/project/USA_cars_datasets.csv')

In [42]:
cars

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [44]:
cars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [45]:
cars.shape

(2499, 13)

In [18]:
cars.index

RangeIndex(start=0, stop=2499, step=1)

In [11]:
cars.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [12]:
cars.dtypes

Unnamed: 0        int64
price             int64
brand            object
model            object
year              int64
title_status     object
mileage         float64
color            object
vin              object
lot               int64
state            object
country          object
condition        object
dtype: object

1) Instruction (For Data Cleaning)
#Find all null value in the dataset. If there is any null value in any column, then fill it with the mean of that column

In [46]:
cars.isnull()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,False,False,False,False,False,False,False,False,False,False,False,False,False
2495,False,False,False,False,False,False,False,False,False,False,False,False,False
2496,False,False,False,False,False,False,False,False,False,False,False,False,False
2497,False,False,False,False,False,False,False,False,False,False,False,False,False
2498,False,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:
cars.isnull().sum()

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

If there are null values. Write cars['columns with null value'].fillna(cars['columns with null value'].means(), inplace = True)

2) Question (Based on Value Counts)
#Check what are the different types of Brand are there in the dataset. And, what is the count (occurence) of each Brand in the data?

In [21]:
cars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [22]:
cars['brand'].value_counts()

ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
kia                  13
buick                13
infiniti             12
honda                12
mercedes-benz        10
cadillac             10
heartland             5
land                  4
peterbilt             4
audi                  4
acura                 3
lexus                 2
mazda                 2
lincoln               2
toyota                1
harley-davidson       1
jaguar                1
maserati              1
ram                   1
Name: brand, dtype: int64

3) Instruction (Filtering)
#Show all the records where State is California or Texas (most populated state)

In [23]:
cars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

isin(): Whether each element in the DataFrame is contained in values.

In [24]:
cars[cars['state'].isin(['california','texas'])]

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
5,5,5700,dodge,mpv,2018,clean vehicle,45561.0,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left
7,7,13350,gmc,door,2017,clean vehicle,23525.0,gray,1gks2gkc3hr326762,167692494,california,usa,20 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
11,11,12920,gmc,mpv,2017,clean vehicle,39650.0,white,1gks2bkc6hr136280,167692496,california,usa,20 hours left
13,13,5430,chrysler,wagon,2017,clean vehicle,138650.0,gray,2c4rc1cg5hr616095,167656123,texas,usa,2 days left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2486,2486,9500,nissan,sentra,2019,clean vehicle,19646.0,black,3n1ab7ap4ky350343,167722605,california,usa,1 days left
2488,2488,1700,nissan,note,2019,clean vehicle,33279.0,red,3n1ce2cp0kl363331,167722697,california,usa,1 days left
2490,2490,10400,nissan,sentra,2019,clean vehicle,25264.0,blue,3n1ab7ap4ky323241,167722702,california,usa,1 days left
2492,2492,7400,nissan,versa,2019,clean vehicle,35511.0,black,3n1cn7ap5kl841811,167722706,california,usa,1 days left
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left

tolist(): Return a list of the values.

In [33]:
cars['year'].tolist()

[2008,
 2011,
 2018,
 2014,
 2018,
 2018,
 2010,
 2017,
 2018,
 2017,
 2009,
 2017,
 2018,
 2017,
 2013,
 2017,
 2018,
 2018,
 2017,
 2013,
 2017,
 2018,
 2015,
 2017,
 2013,
 2017,
 2020,
 2014,
 2017,
 2008,
 2017,
 2016,
 1973,
 2017,
 2003,
 2017,
 2016,
 2018,
 2017,
 2003,
 2017,
 2016,
 2018,
 2017,
 2017,
 2017,
 2019,
 2017,
 2017,
 2017,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2020,
 2019,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2017,
 2016,
 2017,
 2019,
 2017,
 2017,
 2016,
 2017,
 2015,
 2017,
 2017,
 2015,
 2017,
 2017,
 2015,
 2017,
 2017,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2018,
 2017,
 2017,
 2017,
 2018,
 2017,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2016,
 2018,
 2008,
 2017,
 2018,
 2014,
 2017,
 2018,
 2015,
 2018,
 2014,
 2016,
 2018,
 2016,
 2015,
 2018,
 2016,
 2011,
 2018,
 2016,
 2016,
 2018,
 2016,
 2016,
 2018,
 2016,
 2016,
 2018,
 2016,
 2016,
 2018,
 2014,
 2016,
 2018,
 2014,
 2016,
 2017,
 2014,
 2016,
 2017,
 2015,
 2016,
 2017,
 2009,
 2016,
 2017,
 2002,
 2016,
 2017,
 2000,
 2016,
 2017,
 2014,
 2016,
 2017,
 2011,
 2016,
 2017,
 2011,
 2016,
 2017,
 2001,
 2016,
 2017,
 2005,
 2018,
 2017,
 2020,
 2017,
 2017,
 2005,
 2020,
 2017,
 2016,
 2020,
 2017,
 2016,
 2020,
 2017,
 2015,
 2020,
 2017,
 2012,
 2020,
 2017,
 2011,
 2020,
 2017,
 2011,
 2013,
 2017,
 2014,
 2014,
 2017,
 2014,
 2011,
 2016,
 2014,
 2018,
 2016,
 2012,
 2018,
 2016,
 2011,
 2018,
 2016,
 2011,
 2018,
 2016,
 2008,
 2017,
 2016,
 2008,
 2017,
 2016,
 2005,
 2016,
 2016,
 2006,
 2017,
 2016,
 2012,
 2018,
 2016,
 2003,
 2016,
 2011,
 2019,
 2016,
 2019,
 2019,
 2016,
 2019,
 2019,
 2016,
 2019,
 2013,
 2016,
 2019,
 2019,
 2019,
 2019,
 2019,
 2017,
 2019,
 2007,
 2000,
 2019,
 2017,
 2013,
 2019,
 2009,
 2019,
 2017,
 1998,
 2017,
 2019,
 2017,
 2003,
 2019,
 2019,
 2011,
 2008,
 2006,
 2017,
 2017,
 2003,
 2017,
 2019,
 2019,
 2004,
 2003,
 2008,
 2017,
 1998,
 2013,
 2017,
 2019,
 2019,
 2009,
 2010,
 2007,
 2017,
 1994,
 1997,
 2017,
 2018,
 2019,
 2011,
 2008,
 2017,
 1996,
 2006,
 2017,
 2012,
 2019,
 2014,
 2018,
 2007,
 2017,
 2002,
 2004,
 2017,
 2011,
 2019,
 2010,
 2015,
 2017,
 2004,
 2017,
 2009,
 2019,
 2008,
 2015,
 2017,
 2009,
 2009,
 2017,
 2010,
 2019,
 2008,
 2015,
 2017,
 1994,
 2001,
 2017,
 2019,
 2019,
 2004,
 2015,
 2017,
 1997,
 1998,
 2017,
 2019,
 2008,
 2013,
 2015,
 2017,
 2009,
 2016,
 2016,
 2010,
 2019,
 2007,
 2015,
 2017,
 2003,
 2006,
 2016,
 2019,
 2009,
 2000,
 2015,
 2017,
 2010,
 1998,
 2015,
 2014,
 1999,
 2020,
 2006,
 2014,
 2015,
 2017,
 2010,
 1984,
 2015,
 2014,
 2001,
 2008,
 1995,
 2008,
 2017,
 2015,
 2019,
 2014,
 2015,
 2014,
 2014,
 2008,
 2005,
 2000,
 2012,
 2019,
 2019,
 2019,
 2020,
 2018,
 2017,
 2017,
 2008,
 2015,
 2011,
 2017,
 2017,
 2004,
 2012,
 2019,
 2019,
 2019,
 2017,
 2018,
 2017,
 2008,
 2015,
 2011,
 2017,
 2001,
 2011,
 2019,
 2019,
 2018,
 2018,
 2018,
 2017,
 2006,
 2011,
 2017,
 2018,
 2011,
 2019,
 2019,
 2018,
 2015,
 2018,
 2017,
 2007,
 2014,
 2011,
 2017,
 2010,
 2018,
 2011,
 2019,
 2019,
 2018,
 2017,
 2018,
 2017,
 2011,
 2011,
 2017,
 2014,
 2019,
 2009,
 2019,
 2019,
 2018,
 2017,
 2018,
 2012,
 2017,
 2006,
 2006,
 2011,
 2017,
 1996,
 2019,
 2017,
 2019,
 2019,
 2018,
 2017,
 2017,
 2012,
 2017,
 2012,
 2005,
 2015,
 2017,
 2010,
 2017,
 2019,
 2019,
 2005,
 2016,
 2009,
 2017,
 2008,
 2004,
 2015,
 2017,
 2008,
 2017,
 2019,
 2019,
 2016,
 2016,
 2010,
 2017,
 2003,
 2003,
 2010,
 2017,
 2007,
 2017,
 2019,
 2019,
 2015,
 2015,
 2017,
 2010,
 2001,
 2010,
 2017,
 1993,
 2018,
 2017,
 2019,
 2012,
 2015,
 2015,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2018,
 2019,
 2016,
 2019,
 2015,
 2019,
 2015,
 2019,
 2015,
 2019,
 2015,
 2019,
 2013,
 2019,
 2013,
 2019,
 2019,
 2019,
 2019,
 2019,
 2016,
 2019,
 2015,
 2019,
 2015,
 2019,
 2014,
 2019,
 2016,
 2019,
 2016,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2017,
 2019,
 2017,
 2019,
 2019,
 2019,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2017,
 2019,
 2017,
 2019,
 2017,
 2019,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2015,
 2015,
 2020,
 2019,
 2019,
 2019,
 2018,
 2017,
 2017,
 2017,
 2017,
 2017,
 2016,
 2015,
 2018,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2018,
 2017,
 2017,
 2017,
 2016,
 2014,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2016,
 2017,
 2017,
 2019,
 2015,
 2014,
 2018,
 2019,
 2018,
 2013,
 2013,
 2014,
 2014,
 2019,
 2019,
 2013,
 2017,
 2018,
 2017,
 2017,
 2017,
 2017,
 2016,
 2017,
 2016,
 2016,
 2019,
 2019,
 2018,
 2019,
 2016,
 2016,
 2016,
 2015,
 2015,
 2015,
 2015,
 2020,
 2020,
 2020,
 2012,
 2012,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2018,
 2018,
 2018,
 2018,
 2018,
 2017,
 2017,
 2016,
 2017,
 2017,
 2017,
 2018,
 2018,
 2015,
 2012,
 2015,
 2017,
 2017,
 2014,
 2014,
 2019,
 2019,
 2019,
 2019,
 2018,
 2016,
 2015,
 2016,
 2015,
 2014,
 2013,
 2013,
 2013,
 2019,
 2018,
 2018,
 2016,
 2016,
 2016,
 2016,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2017,
 2017,
 2013,
 2015,
 2014,
 2015,
 2014,
 2019,
 2019,
 2013,
 2020,
 2019,
 2018,
 2018,
 2012,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2012,
 2019,
 2019,
 2018,
 2018,
 2017,
 2017,
 2016,
 2015,
 2015,
 2018,
 2017,
 2018,
 2018,
 2013,
 2019,
 2017,
 2014,
 2018,
 2017,
 2017,
 2018,
 2017,
 2017,
 2016,
 2016,
 2012,
 2019,
 2019,
 2019,
 2019,
 2012,
 2019,
 2018,
 2014,
 2018,
 2018,
 2019,
 2018,
 2018,
 2018,
 2018,
 2015,
 2017,
 2017,
 2013,
 2016,
 2019,
 2016,
 2019,
 2016,
 2016,
 2019,
 2015,
 2017,
 2017,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2019,
 2013,
 2012,
 2018,
 2018,
 2019,
 2017,
 2017,
 2013,
 2014,
 2013,
 2018,
 2018,
 2018,
 2016,
 2015,
 2017,
 2012,
 2019,
 2019,
 2019,
 2015,
 2019,
 2019,
 2015,
 2019,
 2019,
 2016,
 2019,
 2014,
 2019,
 2019,
 2014,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2012,
 2018,
 2018,
 2019,
 2018,
 2018,
 2017,
 2013,
 2019,
 2019,
 2014,
 2019,
 2019,
 2018,
 2019,
 2019,
 2016,
 2019,
 2013,
 2014,
 2019,
 2019,
 2017,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2019,
 2014,
 2019,
 2019,
 2019,
 2019,
 2012,
 2019,
 2019,
 2017,
 2018,
 2018,
 2019,
 2019,
 2019,
 2019,
 2017,
 2019,
 2015,
 2013,
 2013,
 2019,
 2019,
 2019,
 2019,
 2016,
 2019,
 2016,
 2019,
 2015,
 2019,
 2014,
 2019,
 2014,
 2014,
 2019,
 2019,
 2019,
 ...]

In [34]:
cars['price'].tolist()

[6300,
 2899,
 5350,
 25000,
 27700,
 5700,
 7300,
 13350,
 14600,
 5250,
 10400,
 12920,
 31900,
 5430,
 20700,
 12710,
 5200,
 16500,
 5210,
 38100,
 12520,
 7300,
 15000,
 6180,
 20800,
 11900,
 21500,
 12000,
 4190,
 13000,
 12710,
 18500,
 29800,
 5330,
 13000,
 11900,
 16600,
 19200,
 7320,
 7000,
 12710,
 16600,
 30500,
 6330,
 55000,
 12520,
 16200,
 19000,
 5580,
 54000,
 12710,
 16000,
 27000,
 7760,
 19600,
 12920,
 20000,
 18100,
 23000,
 18500,
 13490,
 20700,
 17800,
 6650,
 29100,
 12710,
 21100,
 18600,
 4340,
 19300,
 12780,
 15800,
 29400,
 4430,
 19400,
 12520,
 15900,
 26400,
 4140,
 18300,
 12520,
 17900,
 18300,
 4640,
 24000,
 13200,
 18000,
 14900,
 4140,
 11500,
 9110,
 7350,
 24500,
 9300,
 39800,
 53500,
 15110,
 34000,
 26502,
 5990,
 13600,
 23605,
 10780,
 13800,
 25201,
 7070,
 8700,
 18003,
 8530,
 23100,
 24500,
 7000,
 17000,
 34002,
 6980,
 25000,
 20802,
 9200,
 26500,
 24802,
 7070,
 28500,
 47500,
 23500,
 23505,
 10940,
 32100,
 53000,
 6830,
 11900,
 26414,
 4160,
 19405,
 5690,
 25900,
 24005,
 5090,
 19500,
 32012,
 6800,
 4260,
 0,
 31802,
 7210,
 0,
 28402,
 6800,
 33300,
 10780,
 6700,
 20000,
 6440,
 19900,
 37000,
 4040,
 22300,
 31200,
 4290,
 22800,
 19002,
 4160,
 18500,
 39000,
 6060,
 28800,
 40000,
 6140,
 21000,
 20105,
 6760,
 25800,
 39000,
 5470,
 14600,
 24502,
 15110,
 7900,
 27305,
 15290,
 26500,
 25502,
 7320,
 3800,
 24502,
 4140,
 1400,
 18402,
 4160,
 175,
 24503,
 15840,
 20500,
 21003,
 4200,
 17400,
 32001,
 0,
 15700,
 31009,
 3740,
 5000,
 31002,
 3160,
 8600,
 6000,
 12990,
 25,
 13200,
 4410,
 25,
 22500,
 7420,
 13500,
 15500,
 3540,
 17000,
 45500,
 4130,
 15700,
 45500,
 4130,
 15500,
 16300,
 4530,
 15600,
 45500,
 4100,
 18200,
 10200,
 4080,
 5700,
 10200,
 5000,
 1700,
 6200,
 3650,
 10500,
 43500,
 4610,
 3450,
 38500,
 6810,
 2900,
 43500,
 4450,
 5800,
 16500,
 4240,
 26500,
 13700,
 8600,
 8000,
 14200,
 7040,
 4700,
 30851,
 4880,
 14500,
 7600,
 13270,
 12800,
 33000,
 9280,
 900,
 7560,
 19500,
 17100,
 8020,
 10300,
 22600,
 10480,
 10300,
 22700,
 7410,
 10300,
 10300,
 7570,
 67000,
 18900,
 12560,
 33000,
 18300,
 11760,
 31700,
 25,
 0,
 7340,
 8200,
 3000,
 6530,
 0,
 12700,
 13800,
 0,
 725,
 7400,
 9800,
 0,
 4400,
 10330,
 1800,
 50,
 720,
 22800,
 2500,
 0,
 9190,
 10900,
 10400,
 0,
 0,
 7320,
 22809,
 0,
 0,
 5520,
 10900,
 6330,
 0,
 25,
 2320,
 23702,
 0,
 0,
 5520,
 4050,
 14810,
 25,
 2960,
 24800,
 0,
 0,
 6270,
 1880,
 10050,
 225,
 26900,
 1420,
 27003,
 0,
 350,
 5600,
 6680,
 10120,
 0,
 3920,
 23100,
 0,
 5630,
 0,
 2800,
 0,
 8850,
 18712,
 0,
 0,
 6300,
 2220,
 6930,
 25,
 3440,
 50412,
 25,
 950,
 9270,
 11380,
 5350,
 2725,
 3790,
 40514,
 0,
 0,
 9190,
 10330,
 1000,
 2925,
 3830,
 43402,
 1025,
 17200,
 54680,
 6940,
 13080,
 25,
 10630,
 43009,
 25,
 4600,
 4950,
 3760,
 3900,
 0,
 3830,
 53500,
 25,
 25,
 6240,
 4150,
 25,
 61200,
 0,
 13500,
 6490,
 51502,
 250,
 25,
 8160,
 7770,
 200,
 25,
 0,
 1825,
 39800,
 9210,
 58500,
 125,
 3960,
 5998,
 3700,
 0,
 0,
 0,
 5000,
 15050,
 3960,
 36300,
 55600,
 2630,
 5690,
 19500,
 450,
 20400,
 4320,
 33001,
 10000,
 0,
 5790,
 14750,
 4010,
 40000,
 13000,
 3550,
 3040,
 0,
 36400,
 4480,
 31003,
 75,
 8850,
 14750,
 4690,
 23000,
 46900,
 10740,
 3160,
 0,
 3450,
 27102,
 500,
 5100,
 15010,
 5800,
 23200,
 8000,
 3390,
 3140,
 25,
 15000,
 10440,
 23911,
 25,
 21400,
 5380,
 11000,
 4950,
 22500,
 30300,
 2630,
 3140,
 2300,
 4310,
 26012,
 75,
 48500,
 3330,
 11200,
 4730,
 24900,
 29400,
 8350,
 475,
 3210,
 25,
 4200,
 8430,
 25503,
 0,
 26000,
 3900,
 11200,
 8610,
 28000,
 84900,
 10840,
 100,
 11050,
 0,
 1000,
 3570,
 25001,
 0,
 5630,
 11100,
 4650,
 0,
 3820,
 0,
 2900,
 50,
 5100,
 4700,
 29502,
 0,
 6160,
 10910,
 3440,
 16000,
 3810,
 1025,
 3020,
 0,
 2000,
 3870,
 24811,
 75,
 5420,
 11100,
 4750,
 17900,
 3800,
 3160,
 25,
 1200,
 6470,
 26400,
 0,
 32500,
 6900,
 11030,
 3460,
 18000,
 3250,
 3210,
 13200,
 27705,
 7200,
 28714,
 11200,
 27502,
 11900,
 29314,
 11200,
 27002,
 13200,
 28214,
 12700,
 29900,
 12700,
 27202,
 13500,
 27705,
 14700,
 29900,
 4500,
 27705,
 8000,
 25511,
 7700,
 29900,
 7200,
 27502,
 4500,
 27402,
 1500,
 26602,
 10200,
 29900,
 14000,
 28500,
 8000,
 29809,
 36900,
 26902,
 10950,
 27402,
 16900,
 25600,
 29700,
 27702,
 13500,
 27102,
 27102,
 25811,
 26602,
 27102,
 37500,
 26211,
 24205,
 37500,
 27111,
 27411,
 27302,
 27202,
 26311,
 26602,
 33500,
 27511,
 21500,
 27200,
 26511,
 24002,
 21500,
 18511,
 14000,
 29000,
 23402,
 13300,
 19700,
 23211,
 15500,
 18111,
 21500,
 25511,
 17700,
 28000,
 14000,
 21700,
 13500,
 35500,
 29500,
 25300,
 21500,
 25900,
 35300,
 13500,
 62000,
 46000,
 9000,
 25900,
 25800,
 17000,
 12800,
 47400,
 24400,
 17100,
 7400,
 33100,
 22000,
 35000,
 16500,
 35300,
 26900,
 11600,
 28100,
 27700,
 17700,
 16600,
 63200,
 36800,
 19500,
 38800,
 37500,
 35000,
 31100,
 22600,
 22400,
 22700,
 13700,
 37100,
 18500,
 18300,
 19000,
 18500,
 22500,
 14500,
 32800,
 12300,
 19600,
 13600,
 7200,
 19900,
 13000,
 19700,
 9400,
 23800,
 17700,
 17000,
 14000,
 32100,
 33100,
 31600,
 5100,
 4100,
 7200,
 12800,
 46800,
 21800,
 3000,
 22500,
 35300,
 16500,
 33000,
 31500,
 34500,
 8000,
 25000,
 10700,
 13400,
 16500,
 34000,
 14100,
 38600,
 9100,
 8600,
 22000,
 8900,
 15500,
 3300,
 29000,
 17300,
 30500,
 25000,
 2800,
 3300,
 36400,
 34800,
 20700,
 32200,
 35300,
 33500,
 13700,
 15900,
 33200,
 35500,
 29800,
 29800,
 29500,
 30300,
 24300,
 29800,
 29800,
 27500,
 10800,
 11500,
 10400,
 11400,
 11400,
 8000,
 3000,
 25000,
 12300,
 14100,
 9000,
 4200,
 22500,
 22600,
 22600,
 22500,
 10200,
 42700,
 21200,
 22700,
 22000,
 9600,
 10500,
 6700,
 14200,
 15500,
 35100,
 26300,
 15700,
 17600,
 18600,
 19100,
 15200,
 16100,
 14800,
 16700,
 15300,
 16500,
 19600,
 15200,
 15000,
 15500,
 15700,
 14800,
 9200,
 8200,
 11400,
 6500,
 11500,
 23800,
 8900,
 28300,
 27300,
 3500,
 28300,
 18300,
 22500,
 22500,
 8300,
 16500,
 14500,
 30000,
 30000,
 30000,
 30000,
 30000,
 29500,
 21600,
 22600,
 16300,
 8600,
 28800,
 22100,
 14300,
 13700,
 29500,
 18500,
 19000,
 43400,
 46000,
 12500,
 13900,
 13000,
 13000,
 3000,
 17500,
 7900,
 8900,
 11500,
 6500,
 8000,
 18700,
 8350,
 27900,
 14500,
 6200,
 7500,
 20200,
 29300,
 31000,
 32400,
 5800,
 21500,
 23100,
 4500,
 24800,
 23000,
 26900,
 21500,
 15700,
 15200,
 23300,
 6100,
 20000,
 53000,
 3000,
 18200,
 21800,
 52000,
 19000,
 25000,
 36000,
 17000,
 25300,
 14900,
 15000,
 12995,
 17750,
 10295,
 16995,
 25000,
 23995,
 14900,
 15810,
 20227,
 20999,
 22499,
 23495,
 25250,
 15322,
 21232,
 5800,
 29000,
 17000,
 13800,
 30000,
 14800,
 8500,
 9800,
 4200,
 2500,
 28700,
 18500,
 17300,
 7100,
 3250,
 30700,
 3000,
 26500,
 20800,
 20800,
 5100,
 18900,
 24000,
 38800,
 24500,
 24500,
 6500,
 24000,
 18000,
 24000,
 23500,
 4500,
 25900,
 13900,
 14200,
 15400,
 17500,
 17500,
 18000,
 25200,
 14100,
 13300,
 16200,
 13300,
 13100,
 15500,
 4500,
 28400,
 17400,
 6000,
 20700,
 20300,
 14000,
 22000,
 17200,
 15000,
 17500,
 1300,
 1750,
 16300,
 15700,
 10000,
 23100,
 14900,
 16700,
 16300,
 25800,
 23800,
 16800,
 15500,
 6000,
 26900,
 16900,
 19500,
 15400,
 2300,
 17000,
 34000,
 13700,
 19100,
 11800,
 27500,
 26900,
 27100,
 27200,
 9000,
 22500,
 7700,
 4500,
 2200,
 21500,
 18800,
 21800,
 20300,
 8200,
 19000,
 8400,
 19500,
 7000,
 19500,
 8500,
 20500,
 4900,
 20800,
 28500,
 21900,
 15800,
 ...]

4) Instruction (Removing unwanted records)
#Remove all the records (rows) where price = 0

In [43]:
cars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [64]:
cars[cars.price == 0]

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
141,141,0,dodge,van,2008,salvage insurance,177948.0,orange,2d8hn44h88r669549,167756157,utah,usa,2 days left
144,144,0,dodge,door,2014,salvage insurance,123660.0,silver,1c3cdzab0en111068,167756167,utah,usa,2 days left
196,196,0,ford,mpv,2017,clean vehicle,76858.0,white,1fbax2cv0hkb32599,167656523,texas,usa,2 days left
285,285,0,ford,door,2000,salvage insurance,124969.0,black,1fafp34p7yw270338,167251902,oklahoma,usa,17 hours left
290,290,0,mazda,door,2009,salvage insurance,117541.0,gray,jm3er293590215768,167543177,indiana,usa,16 hours left
293,293,0,chevrolet,pickup,1998,salvage insurance,258631.0,gray,1gccs1445wk226994,167417659,texas,usa,17 hours left
297,297,0,honda,door,2003,salvage insurance,152608.0,white,1hgcm56363a030975,167552893,arkansas,usa,17 hours left
305,305,0,ford,door,2003,salvage insurance,246065.0,gold,1fafp55u03a242094,167610324,kansas,usa,8 days left
309,309,0,chevrolet,door,2004,salvage insurance,0.0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left
310,310,0,chevrolet,door,2003,salvage insurance,194673.0,gray,1gndt13s632267445,167650636,texas,usa,18 hours left
313,313,0,ford,van,1998,salvage insurance,186855.0,blue,2fmda5143wba16791,167359170,california,usa,19 hours left
314,314,0,ford,door,2013,salvage insurance,94004.0,black,3fa6p0h74dr270819,167610728,minnesota,usa,17 hours left
318,318,0,chevrolet,door,2009,salvage insurance,117059.0,black,kl1td66e39b645208,167418694,colorado,usa,18 hours left
322,322,0,ford,chassis,1994,salvage insurance,0.0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left
323,323,0,ford,door,1997,salvage insurance,203297.0,green,1fmdu35p7vub38059,167610731,minnesota,usa,17 hours left
330,330,0,ford,door,1996,salvage insurance,296860.0,green,1falp62w5th144314,167359712,california,usa,19 hours left
331,331,0,ford,door,2006,salvage insurance,203158.0,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left
339,339,0,ford,door,2002,salvage insurance,214800.0,black,3fafp37372r151014,167360232,south carolina,usa,2 days left
344,344,0,chevrolet,door,2010,salvage insurance,137422.0,red,2cnflnew5a6355858,167650683,colorado,usa,18 hours left
347,347,0,gmc,door,2004,salvage insurance,235348.0,gold,1gket16s646227597,167360322,south carolina,usa,2 days left
349,349,0,heartland,sundance,2009,clean vehicle,1.0,white,5sfgf29269e031344,167266321,pennsylvania,usa,7 days left
351,351,0,chevrolet,door,2008,salvage insurance,159266.0,gray,2g1wb58kx81220813,167650796,california,usa,19 hours left
354,354,0,ford,pickup,2009,salvage insurance,180364.0,blue,1ftyr10d19pa60391,167360535,tennessee,usa,2 days left
355,355,0,ford,door,2009,salvage insurance,184889.0,black,1fahp35n09w109143,167611047,illinois,usa,17 hours left
370,370,0,ford,door,1997,salvage insurance,146912.0,green,1ftdf18w8vna61251,167362449,wisconsin,usa,2 days left
371,371,0,ford,door,1998,salvage insurance,131367.0,white,1ftrf18l7wka62471,167611301,illinois,usa,17 hours left
391,391,0,cadillac,coupe,2000,salvage insurance,105169.0,white,1g6el12y9yu148063,167651218,virginia,usa,9 days left
400,400,0,buick,door,2006,salvage insurance,137464.0,blue,2g4wc582961163677,167651221,virginia,usa,9 days left
410,410,0,chevrolet,door,1995,salvage insurance,274706.0,green,2gcec19h8s1195266,167425634,arizona,usa,2 days left
419,419,0,kia,wagon,2008,salvage insurance,148463.0,silver,knafg525787197602,167247592,indiana,usa,16 hours left
420,420,0,audi,door,2005,salvage insurance,181896.0,black,waudg74f05n113751,167419563,california,usa,19 hours left
421,421,0,bmw,door,2000,salvage insurance,216657.0,gray,wbaam3346yfp77118,167425906,utah,usa,2 days left
435,435,0,ford,door,2004,salvage insurance,167011.0,red,1fmfu18l84lb61201,167601555,maryland,usa,16 hours left
443,443,0,chevrolet,coupe,2008,salvage insurance,270080.0,yellow,1g1al18f187245041,167650422,illinois,usa,17 hours left
455,455,0,chevrolet,door,2006,salvage insurance,268040.0,silver,1g1zt53f46f254868,167650486,texas,usa,17 hours left
496,496,0,ford,pickup,1996,salvage insurance,252588.0,red,1ftef15n0tlc14455,167357804,oklahoma,usa,17 hours left
506,506,0,chevrolet,door,2012,salvage insurance,134938.0,orange,1g1jc5sh7c4114661,167650604,oklahoma,usa,17 hours left
510,510,0,ford,door,2010,salvage insurance,86841.0,silver,3fahp0ga3ar366961,167357806,oklahoma,usa,17 hours left
514,514,0,lincoln,door,2005,salvage insurance,89705.0,green,1lnhm87a25y619997,167154617,minnesota,usa,17 hours left
516,516,0,peterbilt,truck,2009,salvage insurance,982486.0,blue,1xp7d49x09d784257,167529788,florida,usa,17 hours left
522,522,0,ford,door,2008,salvage insurance,145483.0,red,1fmcu03128kc80487,167357813,oklahoma,usa,17 hours left
530,530,0,chevrolet,door,2003,salvage insurance,194673.0,gray,1gndt13s632267445,167650636,texas,usa,17 hours left
545,545,0,gmc,door,1993,salvage insurance,0.0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left

In [62]:
cars.shape

(2499, 13)

In [65]:
cars.groupby([cars.price == 0]).count()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
price,,,,,,,,,,,,,
False,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456,2456
True,43,43,43,43,43,43,43,43,43,43,43,43,43

In [66]:
2499-43

2456

In [67]:
cars = cars[cars.price != 0]

In [68]:
cars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [70]:
cars.shape

(2456, 13)

5) Instruction (Applying function on a column)
#Increase all the values of 'mileage' column by 1

In [71]:
cars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

USE pandas.DataFrame.apply() TO MODIFY ALL THE VALUES IN A COLUMN.
Alternatively, use a lambda function for func with the syntax lambda x: expression to apply expression to each value in the column.

In [75]:
cars.mileage = cars.mileage.apply(lambda x: x + 1)

In [76]:
cars

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274122.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190557.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39595.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64151.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6659.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23614.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34558.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31599.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32562.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31376.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left